@font-face {
  font-family: Gotham;
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: Gotham Extra Light;
  src: url(../fonts/Gotham-ExtraLight.otf);
}
@font-face {
  font-family: Gotham Thin;
  src: url(../fonts/Gotham-Thin.otf);
}
@font-face {
  font-family: Gotham Medium;
  src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
  font-family: Gotham Ultra;
  src: url(../fonts/Gotham-Ultra.otf);
}
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Gotham';
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 37px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 24px;
  /* text-align:  center; */
}

p{
  color: #5e5e5e;
}
.flex{
  display: flex;
}
.beneficios, .plano, footer{
  padding: 40px 0px;
  background-image: url(../images/bg-2.png);
}

/* Header */
header img{
  max-width: 100%;
  display: block;
  /* margin: auto; */
}

header{

height: 122px;

background-size: cover;

background-image: url(../images/topo_vermelho.png);

background-position: 0% 50%;
}




header h2{
  position: absolute;
  right: 8%;
  top: 30px;
  font-size: 3.2em;
  color: #fff;
}
header p{
  position: absolute;
  top: 240px;
  right: 15%;
  font-size: 20px;
  font-family: 'Gotham Thin';
  color: #fff;
}

h2{

  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}


hr{

  style="height:2px;
  border:none; color:#000;
  background-color:#000;
  margin-top: 20px;
  margin-bottom: 0px;

}


hr2 {
      border-top: 1px dashed #f00;
      color: #fff;
      background-color: #fff;
      height: 4px;
    }


.logo{
  margin-left: 217px;
  margin-top: 8px;
}


.cont_topo{
    
margin-left: 217px;
        
}



h3{

font-family: 'Raleway', sans-serif;
font-size: 28px;
color: #339933;
text-align: center;
text-decoration: underline;


}

.item.blocos {
    height: 200px;
}


h4 {
    color: #fff;
    margin-left: 4%;
}

.conteudo_bloco{

font-family: 'Raleway', sans-serif;

font-size: 13px;

line-height: 19px;

text-align: center;

color: #000;

padding-top: 13px;
}


.blocos{
    
display: flex;
    
flex-direction: column;
    
justify-content: center;
    
align-items: center;
    
height: auto;
    
background-color: #fff;
    
border-radius: 6px;
    
box-shadow: 4px 5px #88888859;
    
margin-bottom: 28px;
}


figure{
    
border-bottom: 1px dashed #333;
    
width:  100%;
    
margin: 0 auto;
    
text-align: center;
    
padding-bottom: 13px;
    
padding-top: 20px;
}

.conteudo_baixo{

  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #000;


}


.conteudo_roda{

  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 24px;
  color: #000;
  text-align: center;
}


section.aluguel {
    margin-bottom: 34px;
}


.col-md-12 {
    /* height: 226px; */
    /* background-color: #fff; */
    /* border-radius: 6px; */
    /* box-shadow: 4px 5px #88888859; */
    /* margin-bottom: 28px; */
}

.smoothscroll-top {
position:fixed;
opacity:0;
visibility:hidden;
overflow:hidden;
text-align:center;
z-index:99;
background-color:#6d132d;
color:#fff;
width:47px;
height:44px;
line-height:44px;
right:25px;
bottom:-25px;
padding-top:5px;
border-radius:5px;
transition:all .5s ease-in-out;
transition-delay:.2s;
}

.smoothscroll-top:hover {
background-color:#651028;
color:#fff;
transition:all .2s ease-in-out;
transition-delay:0;
}

.smoothscroll-top.show {
visibility:visible;
cursor:pointer;
opacity:1;
bottom:25px;
}

.smoothscroll-top i.fa {
line-height:inherit;
}


.parallax {
    /* The image used */
    background-image: url("../images/bg-slider.png");

    /* Set a specific height */
    min-height: 310px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section Beneficios */
.beneficios p span, .plano p span{
  font-family: Gotham Medium;
  color: #1c3a5e;
}
.beneficios h2{
  font-family: Gotham Medium;
  font-size: 20px;
  color: #1c3a5e;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.beneficios .flex{
  margin-top: 15px;
}
.beneficios figure{
  margin-right: 15px;
}

/* Section Videos */
.video p span, .plano p span{
  font-family: Gotham Medium;
  color: #1c3a5e;
}
.video h2{
  font-family: Gotham Medium;
  font-size: 20px;
  color: #1c3a5e;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.video .flex{
  margin-top: 15px;
}
.video figure{
  margin-right: 15px;
}

section.video {
    background-color: #000;
    padding-top: 52px;
    padding-bottom: 155px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
	font-style: bold;
}

.font-p{
font-family: 'Raleway', sans-serif;
font-size: 12px;
text-align: center;
color: #fff;

}


.font-g{
font-family: 'Raleway', sans-serif;
font-size: 15px;
text-align: center;
color: #fff;

}


.form{
  padding: 30px 50px;
  background-color: #1c3a5e;
  color: #fff;
  /* border-radius: 10px; */
  margin-top: -440px;
  height: 615px;
}
.form p{
  color: #fff;
}
label{
  display: block;
  text-transform: uppercase;
  font-family: Gotham Thin;
}
label span{
  text-transform: capitalize;
  font-size: 12px;
}
input[type="text"], input[type="email"], select {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}
select option:first-child{
  color: #ddd;
}


.linha{
  border-style: solid;
  border-bottom-width: 3px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  color:#6a142e;
}


.row {
    
    max-width: 100%!important;
}

.conteudo_roda a {
    color: #ff0000;
}


.plano h2{
  font-family: Gotham Medium;
  font-size: 20px;
  color: #ff5a00;
  text-align: center;
  text-transform: uppercase;
}
.plano p{
  text-align: center;
}
.plano .tipo-plano{
  margin-top: 20px;
}
.plano .tipo-plano img{
  display: block;
  margin: auto;
}
.plano .tipo-plano p{
  text-transform: uppercase;
  margin-top: 10px;
}
.plano a{
  background-color: #ff5900;
  background-image: linear-gradient(to bottom, #6fc9f5, #2388bb);
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  margin: auto;
  margin-top: 30px;
  display: block;
}
.plano a:hover{
  background-color: #1c3a5e;
  text-decoration: none;
}

#redes img{

    margin:0px!important;
    display: inline!important;



}

